.service-item {
    display: flex;
    flex-direction: column;
}

.service-item__info {
    display: flex;
    align-items: flex-end;
    margin-top: 2px;
    justify-content: space-between;

}

.line {
    width: 100%;
    margin-top: 2px;
    height: 1px;
    background-color: rgba(0, 119, 156, 1);
}